<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSnes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/images/dpad.ico">
    <link rel="stylesheet" href="coming-soon-style.css">
  </head>
  <body>
    <a id="back" href="/"><i class="fa fa-chevron-left"></i> Back to CrowdEMU</a>
    <h1 class="coming-soon">Coming Soon</h1>
    <h3 class="coming-soon">to the Chrome Store</h3>
    <img id="loading-gif" src="assets/images/snesgif.gif" alt="">
    <h3 id="pitch" class="coming-soon"></h3>
    <!-- Scripts -->
    <script src="js/osnes-coming-soon.js"></script>
  </body>
</html>
