html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}
@font-face {
    font-family: dockerOne;
    src: url(DockerOne.ttf);
}
.button {
  height:100px;
  width:300px;
  background-color: blue;
}

#qrSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}
#qrTitle {
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.2em;
}
#qrCode {
  margin: 0 auto;
  border: thick solid transparent;
  margin-top:10%;
  width: 255px;
}

#keyboardSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}
#keyboardTitle {
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.2em;
}
#keyboardIcon {
  margin: 0 auto;
  border: thick solid white;
  margin-top:10%;
  width: 255px;
  height:256px;
  background-color: black;
  background-size: 255px 84px;
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url('keyboard.png');
}

#menu-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-image: url('wallp1.jpg');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#loading {
  font-family: dockerOne;
  color: white;
}
.dragGameHere {
  background-color: red;
}
.draghint {
  display: table;
  box-sizing: border-box;
  border-width: 10px;
  border-style: dashed;
  background-color: white;
  border-color: #ccc;
}
.screen {
  width: 100%;
  height: 100%;
}
.dragtext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
}
.menu {
  overflow: scroll;
  height: 100%;
  width: 256pt;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.hover {
  border-color: #333;
}
.chooser {
  position: fixed;
  top: -1000px;
}
.message {
  text-align: center;
}
.message h1, .message p {
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.overlay {
  opacity: .5;
}
