<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/index.css">
  <title>OSnes</title>
  <link rel="stylesheet" media="all" href="./css/bootstrap.css">
</head>
<body ng-app="app">
  <!-- this is the game selection screen -->
  <div class="gameSelection hidden screen" ng-hide="gameSelection.hidden" id="gameSelection" ng-controller="gameSelection">
    <div class="availableGames" id="availableGames">
    <nav>
      <h1 class='needAGame'>Need a Game?</h1>
    </nav>

    <div>
      <div class="btn-group" data-ng-class="{open: open}">
        <button class="btn dropdown-toggle" data-ng-click="open=!open" id='filterButton'>
          <span class='filterText'>Filter</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li>
            <a data-ng-click="checkAll()">
              <i class="icon-ok-sign"></i>
              Check All
            </a>
          </li>
          <li>
            <a data-ng-click="selectedConsole=[];">
              <i class="icon-remove-sign"></i>
              Uncheck All
            </a>
          </li>
          <li class="divider"></li>
          <li data-ng-repeat="console in consoleList"> 
            <a data-ng-click="setSelectedConsole()">
              {{console.name}}
              <span data-ng-class="isChecked(console.id)"></span>
            </a>
          </li>
        </ul>
        <input class='searchBar' type='text' ng-model='search' placeholder='Find what you need here!' id='searchBar'/>
      </div>
    </div>

    <div class='games'>
      <ul class='gamesList'>
        <li class='gamesListEntry' data-ng-repeat="game in filtered = (games | consoleFilter:selectedConsole) | filter:search | orderBy: 'title'">
          <img data-ng-src="{{getIcon(game.console.id)}}" height='40px' width='40px'> 
          <a id='gameTitle' href="{{game.link}}" target="_blank" ng-cloak>
            {{game.title}}
          </a>
          <div id='gameDescription' ng-hide=''>  
            {{game.description}}
          </div>  
          <div>
            <img src="./img/infoicongray.png" id="infoButton" height="20px" width="20px"/>
          </div>
        </li>
      </ul>
    </div>


    </div>
    <div class='dragGameHere' id='dragGameHere'>
      <input type="file" id="chooser" class="chooser"/>
      <!-- <div class="dragtext"> -->
        <h1 id="dragHint1">Have a game?</h1>
        <h1 id="dragHint2">Drag it in here!</h1>

      <!-- </div> -->
    </div>
  </div>
  <!-- this is the Keyboard vs Mobile choice selection screen -->
  <div class="inputSelectionScreen" id="inputSelectionScreen" ng-hide="inputSelection.hidden" ng-controller="inputSelection">
    <div id="keyboardSide">
      <div id='keyboardTitle'></div>
      <div id="keyboardIcon"></div>
      <div id="keyboardInstructions"></div>
    </div>
    <div id="qrSide">
      <div id='qrTitle'></div>
      <div id="qrCode"></div>
      <div id="qrInstructions"></div>
    </div>
  </div>


  <!-- these are the error and loading screens -->
  <div id="loading" class="message screen">
    <img id="loadingGif" src="./img/snesloading.gif" height="400px" width="300px"/>
    <h1>loading ...</h1>
  </div>
  <div id="error" class="message hidden screen">
    <h1>error!</h1>
    <p>quit and reopen to try again</p>
  </div>

  <!-- this is the overlay screen that appears on right click: pauses game and shows options -->
  <div id="overlay" class="overlay"></div>
  <div class="menu hidden screen" id="menu">
    <input type="file" id="savechooser" class="chooser"/>
    <div class="options">
      <h1>Your game is paused.</h1>
      <button id="resume" class="resume">Resume</button>
      <button id="reset" class="reset">Reset</button>
      <button id="save" class="save">Save Game</button>
      <button id="load" class="load">Load Save</button>
      <button id="mute" class="mute">Mute</button>
    </div>
    <div>
      <h1>Controls:</h1>
      <div>A button = A key</div>
      <div>B button = B key</div>
      <div>X button = X key</div>
      <div>Y button = Y key</div>
      <div>L button = L key</div>
      <div>R button = R key</div>
      <div>D-pad = arrow keys</div>
    </div>
  </div>

  <!-- emulator dependencies -->
  <script src="./lib/node.js"></script>
  <script src="./server/server.js"></script>
  <script src="./server/router.js"></script>
  <script src="jspm_packages/github/jmcriffey/bower-traceur-runtime@0.0.91/traceur-runtime.min.js"></script>
  <script src="jspm_packages/system-csp-production.js"></script>
  <script src="config.js"></script>
  <script src="build.js"></script>
  <script src="bootstrap.js"></script>

  <!-- our dependencies -->
  <script src="lib/underscore-min.js"></script>
  <script src="lib/angular-min.js"></script>
  <script src="./lib/jquery-min.js"></script>
  <script src="./lib/qr-code.js"></script>

  <script src="./app.js"></script>
  <script src="./gamesList.js"></script>

</body>
</html>
