html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}
@font-face {
    font-family: dockerOne;
    src: url(dockerOne.ttf);
}
.button {
  height:100px;
  width:300px;
  background-color: blue;
}
#title {
  margin: 0 auto;
  width: 400px;
  margin-top: 5%;
  font-family: dockerOne;
  color: white;
  font-size: 3em;
}
#qrcode {
  margin: 0 auto;
  border: thick solid white;
  margin-top:10%;
  width: 255px;
}
#menu-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: red;
  background-size: cover;
  background-image: url('wallp1.jpg');
}
.draghint {
  display: table;
  box-sizing: border-box;
  border-width: 10px;
  border-style: dashed;
  background-color: white;
  border-color: #ccc;
}
.screen {
  width: 100%;
  height: 100%;
}
.dragtext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
}
.menu {
  overflow: scroll;
  height: 100%;
  width: 256pt;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.hover {
  border-color: #333;
}
.chooser {
  position: fixed;
  top: -1000px;
}
.message {
  text-align: center;
}
.message h1, .message p {
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.overlay {
  opacity: .5;
}
