<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" media="all" href="./css/bootstrap.css">
</head>
<body ng-app="app" >
  <!-- these is the loading screen -->
  <div id="loading" class="message screen">
    <img id="loadingGif" src="./img/loading.gif" ng-cloak/>
    <h1 id="loadingText">loading ...</h1>
  </div>

  <!-- these is the error screen -->
  <div id="error" class="message hidden screen">
    <h1>error!</h1>
    <p>quit and reopen to try again</p>
  </div>

  <!-- this is the game selection screen -->
  <div class="gameSelection hidden screen" ng-hide="gameSelection.hidden" id="gameSelection" ng-controller="gameSelection">
    <!-- right side -->
    <div class="availableGames" id="availableGames">
      <h1 class='needAGame'>Need a Game?</h1>
      <div class="btn-group" data-ng-class="{open: open}" ng-cloak>
        <button class="btn dropdown-toggle" data-ng-click="open=!open" id='filterButton'>
          <span class='filterText' >Filter</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li>
            <a data-ng-click="checkAll()">
              <i class="icon-ok-sign"></i>
              Check All
            </a>
          </li>
          <li>
            <a data-ng-click="selectedConsole=[];">
              <i class="icon-remove-sign"></i>
              Uncheck All
            </a>
          </li>
          <li class="divider"></li>
          <li data-ng-repeat="console in consoleList"> 
            <a data-ng-click="setSelectedConsole()">
              {{console.name}}
              <span data-ng-class="isChecked(console.id)"></span>
            </a>
          </li>
        </ul>
        <input class='searchBar' type='text' ng-model='search' placeholder='Find what you need here!' id='searchBar'/>
      </div>
      <div class='games' >
        <ul class='gamesList'>
          <li class='gamesListEntry' data-ng-repeat="game in filtered = (games | consoleFilter:selectedConsole) | filter:search | orderBy: 'title'" ng-cloak>
            <img data-ng-src="{{getIcon(game.console.id)}}" height='40px' width='40px'> 
            <a id='gameTitle' data-ng-click="getRom(game)">
              {{game.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- left side -->
    <div class='dragGameHere' id='dragGameHere'>
      <input type="file" id="chooser" class="chooser"/>
        <h1 id="dragHint1">Have a game?</h1>
        <h1 id="dragHint2">Drag it here!</h1>
    </div>

  </div>

  <!-- this is the Keyboard vs Mobile choice selection screen -->
  <div class="inputSelectionScreen" id="inputSelectionScreen" ng-controller="inputSelection">
    <!-- QR modal that appears when user selects play with mobile -->
    <div id="qrScreen" class="hidden" data-ng-click="closeQRScreen()">
      <div id="qrModal" class="modal" data-ng-click="$event.stopPropagation()">
          <div id="qrModalBody" class="modal-body"> 
            <div id="qrCode"></div>
            <h3 id="qrInstructions">Scan QR to Start</h3>
          </div>
      </div>
    </div>
    <!-- title text -->
    <div id="chooseYourControllerText1" data-ng-click="closeQRScreen()">
      Choose
      Your
      Controller
    </div>
    <!-- left side -->
    <div id="keyboardSide">
      <div id="keyboardIcon"></div>
      <div id='keyboardTitle'>Keyboard</div>
      <div id='keyboardDescription'>Desktop Only</div>
    </div>
    <!-- right side -->
    <div id="mobileSide">
      <div id="mobileIcon" data-ng-click="openQRScreen()"></div>
      <div id='mobileTitle'>Mobile Phone</div>
      <div id='mobileDescription'>Desktop + Phone</div>
    </div>
  </div>

  <!-- these are the overlay that is the emulator + the screen that appears on right click which pauses game and shows options -->
  <div id="overlay" class="overlay"></div>
  <div class="menu hidden screen" id="menu" ng-controller="pauseScreen">
    <input type="file" id="savechooser" class="chooser"/>
    <div class="options">
      <h1>Your game is paused.</h1>
      <button id="resume" class="resume">Resume</button>
      <button id="reset" class="reset">Reset Game</button>
      <button id="save" class="save">Save Game</button>
      <button id="load" class="load">Load Save</button>
      <button id="mute" class="mute">Mute</button>
      <button id="chooseNewGame" class="chooseNewGame" data-ng-click="chooseNewGame()">Choose A Different Game</button>
    </div>
    <div>
      <h1>Controls:</h1>

      <div id='keyMappingsForm'>
        A button: <input type="text" id="aButton" value="{{getValue('aButton')}}" ng-disabled='disabled'>
        <br>
        B button: <input type="text" id="bButton" value="{{getValue('bButton')}}" ng-disabled='disabled'>
        <br>
        X button: <input type="text" id="xButton" value="{{getValue('xButton')}}" ng-disabled='disabled'>
        <br>
        Y button: <input type="text" id="yButton" value="{{getValue('yButton')}}" ng-disabled='disabled'>
        <br>
        L shoulder: <input type="text" id="lShoulder"value="{{getValue('lShoulder')}}" ng-disabled='disabled'>
        <br>
        R shoulder: <input type="text" id="rShoulder"value="{{getValue('rShoulder')}}" ng-disabled='disabled'>
        <br>
        Start button: <input type="text" id="startButton" value="{{getValue('startButton')}}" ng-disabled='disabled'>
        <br>
        Select button: <input type="text" id="selectButton" value="{{getValue('selectButton')}}" ng-disabled='disabled'>
        <br>
        Up arrow: <input type="text" id="upArrow" value="{{getValue('upArrow')}}" ng-disabled='disabled'>
        <br>
        Down arrow: <input type="text" id="downArrow" value="{{getValue('downArrow')}}" ng-disabled='disabled'>
        <br>
        Left arrow: <input type="text" id="leftArrow" value="{{getValue('leftArrow')}}" ng-disabled='disabled'>
        <br>
        Right arrow: <input type="text" id="rightArrow" value="{{getValue('rightArrow')}}" ng-disabled='disabled'>
        <br>
        <button id="editKeyMappings" data-ng-click="editKeyMappings()" ng-hide="!disabled">Edit Key Mappings</button>
        <!-- <div ng-hide="!disabled">For each button, click the corresponding input box above and press the key you want the button to map to</div> -->
        <div ng-hide="validationError1">Please map a key for every button, and use each key only once</div>
        <!-- <div ng-hide="validationError2">Please map only 1 key to each button</div> -->



        <button id="submitNewKeyMappings" ng-click='submitNewKeyMappings()' ng-hide="disabled">Submit New Key Mappings</button>
        <button id="cancelSubmitNewKeyMappings" ng-click='cancelSubmitNewKeyMappings()' ng-hide="disabled">Cancel</button>

      </div> 
    </div>
  </div>
  
  <!-- node server -->
  <script src="./lib/node.js"></script>
  <script src="./server/server.js"></script>
  <script src="./server/router.js"></script>

  <!-- emulator dependencies -->
  <script src="jspm_packages/github/jmcriffey/bower-traceur-runtime@0.0.91/traceur-runtime.min.js"></script>
  <script src="jspm_packages/system-csp-production.js"></script>
  <script src="config.js"></script>

  <!-- libraries -->
  <script src="bootstrap.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/angular-min.js"></script>
  <script src="./lib/jquery-min.js"></script>
  <script src="./lib/qr-code.js"></script>

  <!-- front end -->
  <script src="./app.js"></script>
  <script src="./gamesList.js"></script>
  <script src="build.js"></script>

</body>
</html>
