html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

@font-face {
  font-family: dockerOne;
  src: url('../fonts/DockerOne.ttf');
}
.button {
  height:100px;
  width:300px;
  background-color: blue;
}

#qrSide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
}
#qrTitle {
  text-align: center;
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.8em;
}
#qrInstructions {
  text-align: center;
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.2em;
}
#qrCode {
  border: thick solid transparent;
  margin-top:10%;
  width: 255px;
}

#keyboardSide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
}
#keyboardTitle {
  text-align: center;
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.8em;
}
#keyboardInstructions {
  text-align: center;
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.2em;
}
#keyboardIcon {
  border: thick solid transparent;
  margin-top:10%;
  width: 255px;
  height:256px;
  background-color: transparent; /* we don't give the image a black background until the QR code is ready; they should appear at the same time*/
  background-size: 255px 84px;
  background-repeat: no-repeat;
  background-position: center; 
  /*background-image: url('keyboard.png'); we don't render the image until the QR code is ready; they should appear at the same time*/ 
}

#inputSelectionScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  /*background-image: url('../img/wallp1.jpg');*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#loading {
  font-family: dockerOne;
  color: white;
}

#loadingGif {
  min-height:100%;
  min-width:100%;
  height:auto;
  width:auto;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;
}

.dragGameHere {
  /*border-width: 10px;*/
  /*border-style: dashed;*/
  border: 10px dashed #D3D3D3;
  flex: 1;


  /*padding: 0 15px 15px 15px;*/
  overflow: hidden;
  background: gray url(../img/snesconsole2.png) no-repeat center center;
  background-size: 400px 400px, 100%;

  display: flex;
  flex-direction: column;
  /*align-items: ;*/
  justify-content: space-between;

}

#dragHint1 {
  margin-top: 20px;
  font-family: dockerOne;
  text-align: center;
  color: white;
  font-size: 2.2em;
}

#dragHint2 {
  margin-bottom: 20px;
  font-family: dockerOne;
  text-align: center;
  color: white;
  font-size: 2.2em;
}
/*
#dragText {
  display: flex;
  flex-direction: column;
  background-color: red;
}*/

.availableGames {
  background-color: transparent;
  flex: 1;
  border-top: 10px solid white;



  padding: 0 15px 15px 15px;
  overflow: hidden;
  background: url(../img/snescartridge.png) no-repeat center center;
  background-size: 270px 215px, 100%;
}
.gameSelection {
  /*background-color: black;*/
  background-size: cover;
  /*background-image: url('../img/wallp1.jpg');*/
  display: flex;
  flex-direction: row;
}
.screen {
  width: 100%;
  height: 100%;
}
.menu {
  overflow: scroll;
  height: 100%;
  width: 256pt;
  margin: 0 auto;
}
.hidden {
  display: none;
}
/*.hover {
  border-color: #333;
}*/

.filterText {
  color: gray;
}
.chooser {
  position: fixed;
  top: -1000px;
  background-color: blue;
}
.message {
  text-align: center;
}
.message h1, .message p {
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.overlay {
  opacity: .5;
}

body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1),inset 1px 1px 1px rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

body ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}

#gameTitle {
  /*padding-top: 20px;*/
  font-size: 2em;
}

#gameDescription {
  color: black;
}

.gamesList {
  margin: 0;
  max-height: calc(100vh - 36px - 69px - 30px);
  overflow: auto;
}

#gameTitle {
  margin-left: 20px;
  flex: 1;
  font-family: dockerOne;
  color: #9767ab;
  font-size: 1.5em;
}

.gamesListEntry {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
  background: -webkit-linear-gradient(right, #f8f8f8, rgba(255,255,255,0), #f8f8f8);
  color: #666666;

  display: flex;
  align-items: center;
}

#main > nav {
  padding-top: 15px;
  margin-bottom: 10px;
  -webkit-app-region: drag;
}

#main > nav button {
  -webkit-app-region: no-drag;
} 

.needAGame {
  margin-top: 20px;
  font-family: dockerOne;
  text-align: center;
  color: gray;
  font-size: 2.2em;
}

.searchBar {
  width: calc(50vw - 92px);
  margin-left: -2px;
}

.searchBar {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-group {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

nav:hover #close-button {
  opacity: 1;
}

#close-button {
  float: right;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}