html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

@font-face {
  font-family: dockerOne;
  src: url('../fonts/DockerOne.ttf');
}
.button {
  height:100px;
  width:300px;
  background-color: blue;
}

#mobileSide {
  height: 100%;
  width: 100%;

  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  /*-webkit-filter: blur(5px);*/

}
#mobileTitle {
  text-align: center;
  margin-top: 2.5%;
  margin-left: 15%;
  font-family: dockerOne;
  color: #353632;
  font-size: 2em;
}

#mobileDescription {
  text-align: center;
  margin-top: 2.5%;
  margin-left: 15%;
  font-family: dockerOne;
  color: #353632;
  font-size: 1.5em;
}

#qrScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: rgba(0,0,0,.6);
}
#qrInstructions {
  text-align: center;
  margin-top: 2%;
  font-family: dockerOne;
  color: black;
  font-size: 1.5em;
}
#qrModal {
  width: 300px;
  margin: -25% 0 0 -150px;
}
#qrModalBody {
  padding: 15px 15px 5px 15px;
}
#qrCode {
  border: thick solid transparent;

  width: 255px;
}

#keyboardSide {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
#keyboardTitle {
  text-align: center;
  margin-top: 2.5%;
  margin-right: 15%;
  font-family: dockerOne;
  color: #353632;
  font-size: 2em;
}
#keyboardDescription {
  text-align: center;
  margin-top: 2.5%;
  margin-right: 15%;
  font-family: dockerOne;
  color: #353632;
  font-size: 1.5em;
}
/*#keyboardInstructions {
  text-align: center;
  margin-top: 12.5%;
  font-family: dockerOne;
  color: white;
  font-size: 2.2em;
}*/
#keyboardIcon {
  /*margin-top:10%;*/
  margin-top: -100px;
  margin-right: 15%;
  width: 150px;
  height:150px;
  background-color: transparent;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url('../img/desktopicondark.png'); 
}

#mobileIcon {
  margin-top: -100px;
  margin-left: 15%;
  width: 150px;
  height:150px;
  background-color: transparent; 
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url('../img/desktopwithmobileicondark.png'); 
}

#inputSelectionScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/snescontrollerwallpapercord.png');
  background-color: #8c8182;
  /*-webkit-backdrop-filter: blur(10px);*/
  /*-webkit-backdrop-filter: blur(2px);*/
  /*filter: blur(20px);*/
}

#chooseYourControllerText1 {
  background-color: transparent;
  text-align: center;
  white-space: pre;
  color: white; /*#5b3980;*/
  /*width:100%;*/
  /*width: 400px;*/
  height: 100px;
  line-height: 40px;
  position:absolute;
  left: 0;
  right: 0;
  margin: 2.1% 5% 5%;
  padding-right: 115px;

  font-family: dockerOne;
  /*color: #353632;*/
  font-size: 3em;
}
/*
#chooseYourControllerText2 {
  background-color: blue;
  width:700px;
  height:100px;
  position:absolute;
  left: 0;
  right: 0;
  margin: 2.5% auto;
  font-family: dockerOne;
  color: #353632;
  font-size: 3em;
}*/

#loading {
  font-family: dockerOne;
  color: white;
  background-color: #29abe3;
  position: relative;
}

#loadingGif {
  height:250px;
  width:300px;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;
}

#loadingText {
  margin-bottom: 1%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*#loading {
  font-family: dockerOne;
  color: white;
  background-color: #e0a04c;
  position: relative;
}

#loadingGif {
  height:105px;
  width:220px;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;
}

#loadingText {
  margin-bottom: 2%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}*/

/*#loadingLong {
  font-family: dockerOne;
  color: white;
  background-color: #29abe3;
  position: relative;
}

#loadingGifLong {
  height:250px;
  width:300px;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;
}

#loadingTextLong {
  margin-bottom: 1%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}*/

.dragGameHere {
  border: 10px dashed transparent; /*#D3D3D3*/
  border-left: 10px solid white; /*#D3D3D3*/
  flex: 1;
  overflow: hidden;
  background: gray url(../img/snesconsolewithborderandtext.png) no-repeat center center;
  background-size: 400px 400px, 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dragHint1 {
  margin-top: 20px;
  font-family: dockerOne;
  text-align: center;
  color: white;
  font-size: 2.2em;
}

.availableGames {
  flex: 1;
  border-top: 10px solid white;
  padding: 0 15px 15px 15px;
  overflow: hidden;
  background: url(../img/snescartridge.png) no-repeat center center;
  background-color: transparent;
  background-size: 270px 215px, 100%;
}

.gameSelection {
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.screen {
  width: 100%;
  height: 100%;
}

.menu {
  overflow: scroll;
  height: 100%;
  width: 350pt;
  margin: 0 auto;
  background-color: transparent;
}

.hidden {
  display: none;
}

.filterText {
  color: gray;
}
.chooser {
  position: fixed;
  top: -1000px;
  background-color: blue;
}
.message {
  text-align: center;
}
.message p {
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.overlay {
  opacity: .5;
}

body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1),inset 1px 1px 1px rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

body ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}

/*#gameTitle {
  font-size: 2em;
}*/

#gameDescription {
  color: black;
}

.gamesList {
  margin: 0;
  max-height: calc(100vh - 36px - 69px - 30px);
  overflow: auto;
}

#gameTitle {
  margin-left: 20px;
  flex: 1;
  font-family: dockerOne;
  color: #9767ab;
  font-size: 1.5em;
}

.gamesListEntry {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
  background: -webkit-linear-gradient(right, #f8f8f8, rgba(255,255,255,0), #f8f8f8);
  color: #666666;

  display: flex;
  align-items: center;
}

/*#main > nav {
  padding-top: 15px;
  margin-bottom: 10px;
  -webkit-app-region: drag;
}

#main > nav button {
  -webkit-app-region: no-drag;
} */

.needAGame {
  margin-top: 20px;
  font-family: dockerOne;
  text-align: center;
  color: gray;
  font-size: 2.2em;
}

.searchBar {
  width: calc(50vw - 92px);
  margin-left: -2px;
}

.searchBar {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
/*
nav:hover #close-button {
  opacity: 1;
}*/

#close-button {
  float: right;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}

#infoButton {
  float: right;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}